In [183]:
import pandas as pd
import numpy as np

Деманстрация библиотеки Pandas на котировках компании Virgin Galactic

In [184]:
df = pd.read_csv(r'STOCK_US_XNYS_SPCE.csv')

In [185]:
df.head()

         Date   Open   High    Low  Close      Volume
0  03/03/2021  35.10  35.18  31.85  32.03  18,282,490
1  03/02/2021  38.17  38.17  33.45  33.77  14,798,740
2  03/01/2021  38.93  39.70  37.58  38.14   8,836,717
3  02/26/2021  35.75  39.44  35.00  37.23  20,028,430
4  02/25/2021  45.00  47.20  41.66  42.24  10,873,720

In [186]:
df.describe()

             Open        High         Low       Close
count  253.000000  253.000000  253.000000  253.000000
mean    22.820988   23.895494   21.766798   22.773439
std      9.878509   10.722544    9.275332    9.947362
min     10.080000   11.400000    9.060000   10.490000
25%     16.890000   17.380000   16.120000   16.680000
50%     19.070000   20.000000   18.140000   19.140000
75%     24.750000   25.700000   23.760000   24.710000
max     58.590000   62.800000   54.420000   59.410000

In [187]:
df.iloc[0,1] # Цена открытия на 03/03/2021

35.1

In [188]:
df[df['Open']>df['Close']] # Фильтруем данные когда цена на момент открытия была больше цены закрытия

           Date   Open   High    Low  Close      Volume
0    03/03/2021  35.10  35.18  31.85  32.03  18,282,490
1    03/02/2021  38.17  38.17  33.45  33.77  14,798,740
2    03/01/2021  38.93  39.70  37.58  38.14   8,836,717
4    02/25/2021  45.00  47.20  41.66  42.24  10,873,720
7    02/22/2021  49.22  50.80  46.90  47.13   7,691,489
..          ...    ...    ...    ...    ...         ...
246  03/11/2020  17.92  18.26  15.50  16.41  13,784,350
247  03/10/2020  20.81  21.12  18.00  18.44  12,406,090
249  03/06/2020  22.46  23.28  21.00  21.67  12,867,810
251  03/04/2020  25.52  25.75  22.86  23.76  15,466,390
252  03/03/2020  26.90  27.45  23.76  24.71  20,098,109

[141 rows x 6 columns]

In [189]:
df.isna().sum() # Посмотрим есть ли неопределнные ячейки

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [190]:
for _ in range(0, 25):
    df.iloc[np.random.randint(0,df.shape[0]),1] = np.NaN # Добавим неизветсных в данные в случайную строку в колонку Open

In [191]:
df.isna().sum() # Добавилось

Date       0
Open      23
High       0
Low        0
Close      0
Volume     0
dtype: int64

In [192]:
df['Open'] = df['Open'].fillna(value=df['Open'].mean()) # Заменим неизвестные средним значением этой колонки

In [193]:
df.isna().sum() # Проверим что теперь снова все чисто

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [194]:
df['CloseOpen'] = df['Close'] - df['Open'] # Разница между ценами на моменты закрытия и открытия торгов

In [195]:
df.head()

         Date       Open   High    Low  Close      Volume  CloseOpen
0  03/03/2021  22.465957  35.18  31.85  32.03  18,282,490   9.564043
1  03/02/2021  38.170000  38.17  33.45  33.77  14,798,740  -4.400000
2  03/01/2021  22.465957  39.70  37.58  38.14   8,836,717  15.674043
3  02/26/2021  22.465957  39.44  35.00  37.23  20,028,430  14.764043
4  02/25/2021  45.000000  47.20  41.66  42.24  10,873,720  -2.760000

In [196]:
df['drop/growth'] = df['CloseOpen'].apply(lambda x: 'drop' if x < 0 else 'growth' ) # Применение к PandasSeries

In [197]:
df['spread']=df.apply(lambda x: x['High']-x['Low'], axis=1) # Применение к PandasFrame

In [198]:
df.sort_values(by='Open')

,Date,Open,High,Low,Close,Volume,CloseOpen,drop/growth,spread
240,03/19/2020,10.08,11.40,9.40,10.49,"10,850,520",0.41,growth,2.00
239,03/20/2020,11.46,14.74,10.99,11.23,"21,384,340",-0.23,drop,3.75
241,03/18/2020,11.53,11.77,9.06,10.56,"14,362,430",-0.97,drop,2.71
238,03/23/2020,11.73,13.34,11.01,12.97,"16,785,529",1.24,growth,2.33
243,03/16/2020,12.19,13.60,11.72,11.91,"10,896,310",-0.28,drop,1.88
...,...,...,...,...,...,...,...,...,...
16,02/08/2021,55.99,57.85,54.05,56.25,"14,083,870",0.26,growth,3.80
14,02/10/2021,56.00,56.14,51.15,52.39,"14,545,240",-3.61,drop,4.99
15,02/09/2021,56.06,56.81,54.42,56.72,"8,992,624",0.66,growth,2.39
18,02/04/2021,57.00,62.80,53.17,54.72,"32,457,840",-2.28,drop,9.63
20,02/02/2021,58.59,58.60,47.30,48.58,"39,492,711",-10.01,drop,11.30

In [199]:
statistics = ['mean', 'max', 'min', 'std', 'median']
columns = list(df)
for col in columns[1:5]:
    print(f'for {col}')
    for stat in statistics:
        print(f' {stat} = {df[col].agg(stat)} ')

for Open
 mean = 22.465956521739134
 max = 58.59
 min = 10.08
 std = 9.27201390333683
 median = 19.55
for High
 mean = 23.895494071146242
 max = 62.8
 min = 11.4
 std = 10.722543501420065
 median = 20.0
for Low
 mean = 21.766798418972332
 max = 54.42
 min = 9.06
 std = 9.27533217364349
 median = 18.14
for Close
 mean = 22.773438735177866
 max = 59.41
 min = 10.49
 std = 9.947362039298389
 median = 19.14

In [200]:
pd.unique(df['Date'])

array(['03/03/2021', '03/02/2021', '03/01/2021', '02/26/2021',
       '02/25/2021', '02/24/2021', '02/23/2021', '02/22/2021',
       '02/19/2021', '02/18/2021', '02/17/2021', '02/16/2021',
       '02/12/2021', '02/11/2021', '02/10/2021', '02/09/2021',
       '02/08/2021', '02/05/2021', '02/04/2021', '02/03/2021',
       '02/02/2021', '02/01/2021', '01/29/2021', '01/28/2021',
       '01/27/2021', '01/26/2021', '01/25/2021', '01/22/2021',
       '01/21/2021', '01/20/2021', '01/19/2021', '01/15/2021',
       '01/14/2021', '01/13/2021', '01/12/2021', '01/11/2021',
       '01/08/2021', '01/07/2021', '01/06/2021', '01/05/2021',
       '01/04/2021', '12/31/2020', '12/30/2020', '12/29/2020',
       '12/28/2020', '12/24/2020', '12/23/2020', '12/22/2020',
       '12/21/2020', '12/18/2020', '12/17/2020', '12/16/2020',
       '12/15/2020', '12/14/2020', '12/11/2020', '12/10/2020',
       '12/09/2020', '12/08/2020', '12/07/2020', '12/04/2020',
       '12/03/2020', '12/02/2020', '12/01/2020', '11/30/2020',
       '11/27/2020', '11/25/2020', '11/24/2020', '11/23/2020',
       '11/20/2020', '11/19/2020', '11/18/2020', '11/17/2020',
       '11/16/2020', '11/13/2020', '11/12/2020', '11/11/2020',
       '11/10/2020', '11/09/2020', '11/06/2020', '11/05/2020',
       '11/04/2020', '11/03/2020', '11/02/2020', '10/30/2020',
       '10/29/2020', '10/28/2020', '10/27/2020', '10/26/2020',
       '10/23/2020', '10/22/2020', '10/21/2020', '10/20/2020',
       '10/19/2020', '10/16/2020', '10/15/2020', '10/14/2020',
       '10/13/2020', '10/12/2020', '10/09/2020', '10/08/2020',
       '10/07/2020', '10/06/2020', '10/05/2020', '10/02/2020',
       '10/01/2020', '09/30/2020', '09/29/2020', '09/28/2020',
       '09/25/2020', '09/24/2020', '09/23/2020', '09/22/2020',
       '09/21/2020', '09/18/2020', '09/17/2020', '09/16/2020',
       '09/15/2020', '09/14/2020', '09/11/2020', '09/10/2020',
       '09/09/2020', '09/08/2020', '09/04/2020', '09/03/2020',
       '09/02/2020', '09/01/2020', '08/31/2020', '08/28/2020',
       '08/27/2020', '08/26/2020', '08/25/2020', '08/24/2020',
       '08/21/2020', '08/20/2020', '08/19/2020', '08/18/2020',
       '08/17/2020', '08/14/2020', '08/13/2020', '08/12/2020',
       '08/11/2020', '08/10/2020', '08/07/2020', '08/06/2020',
       '08/05/2020', '08/04/2020', '08/03/2020', '07/31/2020',
       '07/30/2020', '07/29/2020', '07/28/2020', '07/27/2020',
       '07/24/2020', '07/23/2020', '07/22/2020', '07/21/2020',
       '07/20/2020', '07/17/2020', '07/16/2020', '07/15/2020',
       '07/14/2020', '07/13/2020', '07/10/2020', '07/09/2020',
       '07/08/2020', '07/07/2020', '07/06/2020', '07/02/2020',
       '07/01/2020', '06/30/2020', '06/29/2020', '06/26/2020',
       '06/25/2020', '06/24/2020', '06/23/2020', '06/22/2020',
       '06/19/2020', '06/18/2020', '06/17/2020', '06/16/2020',
       '06/15/2020', '06/12/2020', '06/11/2020', '06/10/2020',
       '06/09/2020', '06/08/2020', '06/05/2020', '06/04/2020',
       '06/03/2020', '06/02/2020', '06/01/2020', '05/29/2020',
       '05/28/2020', '05/27/2020', '05/26/2020', '05/22/2020',
       '05/21/2020', '05/20/2020', '05/19/2020', '05/18/2020',
       '05/15/2020', '05/14/2020', '05/13/2020', '05/12/2020',
       '05/11/2020', '05/08/2020', '05/07/2020', '05/06/2020',
       '05/05/2020', '05/04/2020', '05/01/2020', '04/30/2020',
       '04/29/2020', '04/28/2020', '04/27/2020', '04/24/2020',
       '04/23/2020', '04/22/2020', '04/21/2020', '04/20/2020',
       '04/17/2020', '04/16/2020', '04/15/2020', '04/14/2020',
       '04/13/2020', '04/09/2020', '04/08/2020', '04/07/2020',
       '04/06/2020', '04/03/2020', '04/02/2020', '04/01/2020',
       '03/31/2020', '03/30/2020', '03/27/2020', '03/26/2020',
       '03/25/2020', '03/24/2020', '03/23/2020', '03/20/2020',
       '03/19/2020', '03/18/2020', '03/17/2020', '03/16/2020',
       '03/13/2020', '03/12/2020', '03/11/2020', '03/10/2020',
       '03/09/2020', '03/06/2020', '03/05/2020', '03/04/2020',
       '03/03/2020'], dtype=object)

In [201]:
df = df.set_index('Date')

In [202]:
df

,Open,High,Low,Close,Volume,CloseOpen,drop/growth,spread
Date,,,,,,,,
03/03/2021,22.465957,35.18,31.85,32.03,"18,282,490",9.564043,growth,3.33
03/02/2021,38.170000,38.17,33.45,33.77,"14,798,740",-4.400000,drop,4.72
03/01/2021,22.465957,39.70,37.58,38.14,"8,836,717",15.674043,growth,2.12
02/26/2021,22.465957,39.44,35.00,37.23,"20,028,430",14.764043,growth,4.44
02/25/2021,45.000000,47.20,41.66,42.24,"10,873,720",-2.760000,drop,5.54
...,...,...,...,...,...,...,...,...
03/09/2020,18.390000,20.37,17.00,19.44,"13,307,670",1.050000,growth,3.37
03/06/2020,22.460000,23.28,21.00,21.67,"12,867,810",-0.790000,drop,2.28
03/05/2020,22.680000,24.34,22.03,24.09,"14,124,110",1.410000,growth,2.31
03/04/2020,25.520000,25.75,22.86,23.76,"15,466,390",-1.760000,drop,2.89
03/03/2020,26.900000,27.45,23.76,24.71,"20,098,109",-2.190000,drop,3.69

In [207]:
df.groupby(by='drop/growth',as_index=False).agg(statistics).pivot

<bound method DataFrame.pivot of                   Open                                      High         \
                  mean    max    min       std median       mean    max
drop/growth
drop         21.959533  58.59  11.46  9.125905  18.92  22.171232  62.80
growth       23.073665  56.06  10.08  9.448376  20.90  25.964609  60.67

                                      ... CloseOpen                    \
               min        std median  ...      mean        max    min
drop/growth                           ...
drop         11.77   9.579232  18.72  ... -1.139026  -0.010000 -10.01
growth       11.40  11.660099  22.25  ...  2.043291  34.654043   0.00

                                spread
                  std median      mean    max   min       std median
drop/growth
drop         1.510494  -0.66  1.880290  12.53  0.49  1.752847   1.33
growth       5.291281   0.74  2.426783  19.29  0.45  2.385805   1.74

[2 rows x 30 columns]>

In [208]:
df.groupby(by='drop/growth',as_index=False).agg(statistics).pivot_table

<bound method DataFrame.pivot_table of                   Open                                      High         \
                  mean    max    min       std median       mean    max
drop/growth
drop         21.959533  58.59  11.46  9.125905  18.92  22.171232  62.80
growth       23.073665  56.06  10.08  9.448376  20.90  25.964609  60.67

                                      ... CloseOpen                    \
               min        std median  ...      mean        max    min
drop/growth                           ...
drop         11.77   9.579232  18.72  ... -1.139026  -0.010000 -10.01
growth       11.40  11.660099  22.25  ...  2.043291  34.654043   0.00

                                spread
                  std median      mean    max   min       std median
drop/growth
drop         1.510494  -0.66  1.880290  12.53  0.49  1.752847   1.33
growth       5.291281   0.74  2.426783  19.29  0.45  2.385805   1.74

[2 rows x 30 columns]>

In [213]:
np.quantile(df['Close'], 0.99)

56.47559999999999

In [222]:
hst = np.histogram(df['Close'], bins = 10)
hst

(array([ 28, 112,  58,  17,  13,   3,   5,   6,   5,   6]),
 array([10.49 , 15.382, 20.274, 25.166, 30.058, 34.95 , 39.842, 44.734,
        49.626, 54.518, 59.41 ]))